body {
    background-image: url("marble2.png");
    background-color: #484744;
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    background-color: rgba(0, 0, 0, 0.5);
}

td {
    padding: 2px 4px;
    color: rgb(192, 224, 255);
    background-color: rgb(8, 16, 32);
}

h1, h2, h3, h4 {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 4px;
    font-variant: small-caps;
}

th {
    font-variant: small-caps;
}

table.parameters td:first-of-type,
table.parameters td:nth-of-type(2),
table.parameters td:nth-of-type(3) {
    font-family: monospace;
    font-weight: bold;
    color: yellow;
}

table.parameters td:nth-of-type(4),
table.descriptions td:first-of-type {
    color: rgb(32, 255, 32);
}

a:link, a:visited, a:active, a:hover {
    color: rgb(64, 255, 255);
    text-decoration: unset;
}

hr {
    height: 16px;
    border: 0px;
    background-color: #d7b97b;
    background-image: url("HR.png");
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

code {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: 32px solid #bab493;
    border-image: url("monitor9.png") 32 32 32 32 fill;
    color: rgb(0, 255, 0);
    white-space: pre;
}

table.funcdef tr:last-of-type td:first-of-type {
    color: rgb(255, 128, 0);
}
